@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background: url(../imagens/header.png) no-repeat center/cover;
    width: 100vw;
    height: 30rem;
}

.header-content {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header-content h1 {
    width: 31%;
    height: 25%;
    font-family: 'Luckiest Guy';
    font-size: 4em;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}

.header-content p {
    width: 50em;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    color: #ffffff;
}

.buttons {
    width: 502px;
    height: 44px;
    gap: 16px;
    display: flex;
    text-align: center;
}

.botao-1,
.botao-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

.botao-1 {
    width: 205px;
    height: 44px;
    border-radius: 28px;
    border: none;
    background-color: #FFFFFF;
    color: #23272A;
}

.botao-2 {
    width: 281px;
    height: 44px;
    border-radius: 28px;
    border: none;
    background: #23272A;
    color: #FFFFFF;
}

/**/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    margin-top: 6%;
    display: flex;
    color: #23272A;
    place-content: center center;
    gap: 2%;
    width: 80%;
    align-items: center;
}

section h1 {
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 800;
    line-height: 54.47px;
}

section p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
}

#section-1 {
    margin-top: 3%;
    background-color: #FFFFFF;
}

.texto-1 {
    width: 348px;
    height: 374px;
}

#section-2 {
    background-color: #F6F6F6;
}

.texto-2 {
    width: 351px;
    height: 212px;
}

#section-3 {
    background-color: #FFFFFF;
}

.texto-3 {
    width: 351px;
    height: 234px;
}

#section-4 {
    background: #F6F6F6;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.texto-4 {
    width: 70%;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;

}

#section-4 h1 {
    margin-left: 25%;
    width: 50%;
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 40px;
}

#section-4 p {
    text-align: center;
}

/**/
footer {
    height: 70px;
    padding: 40px 0px 40px 0px;
    background: #23272A;
}

footer img {
    margin: 1.5% 0 0 42%;
}

/*Responsividade*/
@media (min-width: 320px) and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;           
    }

    section h1 {        
        text-align: start;
        font-size: large;
        line-height: 1.5em; 
        margin-bottom: 15px;      
    }
    section p, #section-4 p{
       
        text-align: start;
        font-size: small;
        line-height: 1.5em;  
    }
    .texto-1, .texto-2, .texto-3{
        width: auto;
        height: auto;
    }

    img {
        width: 110%;
    }  
    .header-content {
        padding: 8%;
        gap: 5px;
        align-items: start;
    }
    .header-content h1 {
        width: 75%;
        font-size: 2em;
        text-align: start;
    }
    .header-content p {
        font-size: .9rem;
        width: 100%;
        text-align: justify;
    }
    .buttons {
        margin-top: 15px;
        width: 100%;
        height: 100%;
        gap: 16px;
        flex-direction: column;
    }

    .botao-1 {
        width: 100%;
    }

    .botao-2 {
        width: 100%;
    }
    #section-2{
        flex-direction: column-reverse;
    }
    /**/
 
    #section-4 img{
        width: 90%;
              
    }
    #section-4 h1{
        width: 100%;
        margin-left: 0;
        font-size: larger;
        text-align: start;
    }
    footer{
        width: 100%;
    }
    footer img {
        width: 40%;        
        margin-left: 30%;
    }
}